.loader-section {
  display: grid;
  place-content: center;
  height: 100vh;
  background-color: $black-color;

  .img-loader-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    .loader-container {
      display: flex;
      gap: 0.2rem;
      height: 1.4rem;
      width: 10rem;
      border: 1px solid $white-color;
      border-radius: 0.3rem;
      position: absolute;
      left: 50%;
      top: 75%;
      overflow: hidden;
      transform: translate(-50%, 0%);

      .loader {
        height: 1rem;
        width: 0.8rem;
        margin-top: 2px;
        background: $white-color;
        border-radius: 2px;
        box-shadow: inset 0 0 12px $dark-blue-color;
        position: relative;
        left: -50px;
        animation: move 2s linear infinite;
      }
    }
  }
}

@keyframes move {
  97% {
    left: 150px;
    opacity: 1;
  }
  98% {
    opacity: 0;
    left: 150px;
  }
  99% {
    left: -50px;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
