.login-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  color: white;
  text-shadow: 3px 2px 4px rgb(0, 0, 0, 0.3);

  .login-section__header {
    height: 8rem;
    background-color: $dark-blue-color;
  }

  .login-section__container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    padding: 0 18rem;
    background-color: $light-blue-color;

    &--logo {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      img {
        width: 14rem;
        height: 10rem;
      }
    }

    &--line {
      width: 1px;
      height: 100%;
      background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.1) 0%,
        rgba(255, 255, 255, 1) 50%,
        rgba(255, 255, 255, 0.1) 100%
      );
    }

    &--password {
      display: flex;
      align-items: center;
      padding: 0.5rem;
      background: linear-gradient(
        90deg,
        rgba(0, 48, 156, 1) 42%,
        rgba(90, 126, 220, 1) 100%
      );
      border-radius: 0.5rem;

      img {
        width: 4rem;
        height: 4rem;
        margin-right: 0.8rem;
        object-fit: cover;
        border-radius: 0.3rem;
        border: 2px solid $yellow-color;
      }

      .password__data {
        p {
          font-size: 1.2rem;
        }

        label {
          font-size: 0.8rem;
        }

        input {
          height: 1.5rem;
          margin-top: 0.2rem;
          border-radius: 0.2rem;
          border: none;
        }

        button {
          width: 1.5rem;
          height: 1.5rem;
          color: white;
          background-color: $green-color;
          border: 1px solid $white-color;
          border-radius: 0.2rem;
          box-shadow: inset -7px -5px 10px 0px rgba(0, 0, 0, 0.2);

          &:hover {
            background-color: $green-color-hover;
          }
        }
      }
    }
  }

  .login-section__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    padding: 0 3rem;
    background-color: $dark-blue-color;

    &--turnoff {
      display: flex;
      align-items: center;

      button {
        width: 1.5rem;
        height: 1.5rem;
        color: white;
        background-color: $red-color;
        border: 1px solid $white-color;
        border-radius: 0.2rem;
        box-shadow: inset -7px -5px 10px 0px rgba(0, 0, 0, 0.2);
      }

      p {
        margin: 0.4rem;
      }
    }

    &--info {
      width: 26rem;
      font-size: 0.8rem;
    }
  }
}
