// colors
$white-color: #ffffff;
$black-color: #000000;
$dark-blue-color: #00309c;
$blue-color: #13a2ff;
$light-blue-color: #5a7edc;
$yellow-color: #ffd416;
$green-color: #08b13b;
$green-color-hover: #08b13b;
$red-color: #ff2525;
